@model Product
<!-- This View file shares name with ViewProduct() in the Product Controller-->


<h3>@Model.Name Information</h3>
<!--Here, we display the database as a readable table on the webpage:-->
<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.CategoryID</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
    </tr>

</table>

<!--Here, we allow the user to update products from the webpage via text prompt-->
<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update this Product</a>
</div>